# Ignore node_modules in both frontend and backend
**/node_modules

# Ignore build files in frontend (React)
**/build/
backend/public

**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

**/.env

# Ignore lock files (optional, depending on your workflow)
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Ignore system files
**/.DS_Store
**/Thumbs.db

# Ignore IDE/editor config and cache files
**/.vscode/
**/.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

**/coverage/
**/*.tmp
**/*.temp

**/dist/

**/.cache/
**/.parcel-cache/

**/.eslintcache
**/.prettiercache

*.tsbuildinfo
